@import url(color.css);

.ListContainer {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: auto auto; */
    justify-content: start;
    min-height: fit-content;
    background: #161a2b;
    text-align: center;
    margin: 30px auto;
    border-radius: 15px;
    padding: 25px;
}

.list-comp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
        90deg,
        rgba(255, 118, 20, 1) 0%,
        rgba(255, 84, 17, 1) 100%
    );
    animation: rgb 10s infinite;
    padding: 12px;
    border-radius: 5px;
    width: 90%;
}

.list-comp:nth-child(4n + 1) {
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
    );
    animation: rgb-s 10s infinite;
}

.list-comp:nth-child(4n + 2) {
    background: linear-gradient(
        90deg,
        rgba(255, 12, 241, 1) 0%,
        rgba(250, 0, 135, 1) 100%
    );
    animation: rgb-t 10s infinite;
}

.list-comp:nth-child(4n + 3) {
    background: linear-gradient(
        90deg,
        rgba(20, 159, 255, 1) 0%,
        rgba(17, 122, 255, 1) 100%
    );
    animation: rgb-f 10s infinite;
}

@keyframes rgb {
    0% {
        background: var(--rgb-y);
    }
    25% {
        background: var(--rgb-r);
    }
    50% {
        background: var(--rgb-g);
    }
    75% {
        background: var(--rgb-b);
    }
    100% {
        background: var(--rgb-y);
    }
}

@keyframes rgb-s {
    0% {
        background: var(--rgb-r);
    }
    25% {
        background: var(--rgb-g);
    }
    50% {
        background: var(--rgb-b);
    }
    75% {
        background: var(--rgb-y);
    }
    100% {
        background: var(--rgb-r);
    }
}

@keyframes rgb-t {
    0% {
        background: var(--rgb-g);
    }
    25% {
        background: var(--rgb-b);
    }
    50% {
        background: var(--rgb-y);
    }
    75% {
        background: var(--rgb-r);
    }
    100% {
        background: var(--rgb-g);
    }
}

@keyframes rgb-f {
    0% {
        background: var(--rgb-b);
    }
    25% {
        background: var(--rgb-y);
    }
    50% {
        background: var(--rgb-r);
    }
    75% {
        background: var(--rgb-g);
    }
    100% {
        background: var(--rgb-b);
    }
}

.list-comp .text-container {
    width: 300px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Poppins';
    color: var(--text-color);
}

.list-comp .action-btn {
    margin: 0;
    margin-left: 10px;
    list-style-type: none;
    padding: 0;
    opacity: 0;
    display: flex;
    flex-direction: row;
    transition: .2s ease-in;
}



.list-comp .action-btn .edit, .delete{
    display: inline;
}

.list-comp .action-btn .delete{
    margin-left: 10px;
}

.list-comp .action-btn a{
    color: var(--text-color);
}

.edit #edit-btn {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
}

.edit #edit-btn:hover {
    color: #252525;
}

.delete #delete-btn {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
}

.delete #delete-btn:hover {
    color: black;
}

.desc-fill {
    background: #787e81;
    color: #fff;
    border: none;
}

.desc-fill:focus {
    background: #787e81;
    color: #fff;
}

.list-comp:hover > .action-btn {
    opacity: 1;
}

@media screen and (max-width: 600px){
    .list-comp .text-container{
        width: 300px;
    }
}
@media screen and (max-width: 440px){
    .list-comp .text-container{
        width: 250px;
    }
}
@media screen and (max-width: 360px){
    .list-comp .text-container{
        width: 180px;
    }
}