.modal-content {
    margin-top: 50%;
    background: transparent;
    border: none;
}

.up-btn {
    width: 100%;
}

.sub, .cls {
    width: 50%;
}

.btn-sub-cls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-update {
    width: 440px;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: start;
    min-height: fit-content;
    background: #161a2b;
    text-align: center;
    margin: 30px auto;
    border-radius: 15px;
    padding: 25px;
}

.desc-fill {
    width: 100%;
}

@media screen and (max-width: 650px) {
    .modal-content {
        margin-top: 35%;
    }
}

@media screen and (max-width: 600px) {
    .form-update {
        width: 300px;
    }
}


